<!DOCTYPE html>
<html>
<head>
<title>HOME</title>
</head>
<body>
    <h1>Welcome to Data processing AWS Project</h1>
    <h2>Select Quary Here</h2>
    <h3></h3>
    <form method="post" action="/">
        <h3>Please enter Search Keyword</h3>
        <input type="text" value="word" name="word" />
        <h3>Please Select any one column to search the above Keyword</h3>
        <input type="radio" name="star" id="name" value="name"> Name </input><br>
        <input type="radio" name="star" id="title" value="title"> Title </input><br>
        <input type="radio" name="star" id="description" value="description"> Description </input><br>
        <input type="radio" name="star" id="content" value="content"> Content </input><br>
        <h3>Choose the columns which you are intrested in:</h3>
        <input type="checkbox" name="Column" value="name"> Name </input><br>
        <input type="checkbox" name="Column" value="author"> Author </input><br>
        <input type="checkbox" name="Column" value="title"> Title </input><br>
        <input type="checkbox" name="Column" value="description"> Description </input><br>
        <input type="checkbox" name="Column" value="url"> url </input><br>
        <input type="checkbox" name="Column" value="urlToImage"> url To Image </input><br>
        <input type="checkbox" name="Column" value="publishedAt"> Published At </input><br>
        <input type="checkbox" name="Column" value="content"> Content </input><br>
        <input type="submit" value="done" name="Query" />
    </form>
</body>
</html>